# Convertendo valores

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Nome': ['Lucas', 'Pedro', 'Maria', 'Paulo', 'Eliana'],
                   'Sexo': ['masculino', 'masculino', 'feminino', 'masculino', 'feminino'],
                   'Fumante': ['não', 'não', 'sim', 'não', 'sim'],
                   'Idade': [16, 19, 23, 17, 32],
                   'Mora sozinho?': ['sim','não','não','sim','não'],
                   'Brasileiro?': ['não','sim','sim','sim','sim'],
                   'Quantos Filhos?': ['nenhum','dois','nenhum','nenhum','um']})

In [3]:
df

     Nome       Sexo Fumante  Idade Mora sozinho? Brasileiro? Quantos Filhos?
0   Lucas  masculino     não     16           sim         não          nenhum
1   Pedro  masculino     não     19           não         sim            dois
2   Maria   feminino     sim     23           não         sim          nenhum
3   Paulo  masculino     não     17           sim         sim          nenhum
4  Eliana   feminino     sim     32           não         sim              um

In [4]:
# Map
df['Sexo_MF'] = df['Sexo'].map({'masculino': 'M', 'feminino': 'F'})

# Factorize
df['Fumante_01'] = df['Fumante'].factorize()[0]

# Booleano
df['Idade_para_dirigir'] = df['Idade'] >= 18

# List Comprehension
df['Mora_Sozinho'] = [0 if x == 'sim' else 1 for x in df['Mora sozinho?']]

# Apply
df['Brasileiro'] = df['Brasileiro?'].apply(lambda x: 0 if x == 'não' else 1)

# Substituição
df.loc[df['Quantos Filhos?'] == 'nenhum', 'Qtde_Filhos'] = 0
df.loc[df['Quantos Filhos?'] == 'dois', 'Qtde_Filhos'] = 2
df.loc[df['Quantos Filhos?'] == 'um', 'Qtde_Filhos'] = 1

In [5]:
df

,Nome,Sexo,Fumante,Idade,Mora sozinho?,Brasileiro?,Quantos Filhos?,Sexo_MF,Fumante_01,Idade_para_dirigir,Mora_Sozinho,Brasileiro,Qtde_Filhos
0,Lucas,masculino,não,16,sim,não,nenhum,M,0,False,0,0,0.0
1,Pedro,masculino,não,19,não,sim,dois,M,0,True,1,1,2.0
2,Maria,feminino,sim,23,não,sim,nenhum,F,1,True,1,1,0.0
3,Paulo,masculino,não,17,sim,sim,nenhum,M,0,False,0,1,0.0
4,Eliana,feminino,sim,32,não,sim,um,F,1,True,1,1,1.0